<div>
    <p>Fancy some adventuring? Maybe some home defence against the horrors that lurk inside the forest? Or maybe you just want to win an honour duel against someone that has wronged you?</p>
    <p>If your answer is a resounding YES to any of those questions, then Mr. Herschel's armoury has you covered!</p>
    <p>We have the best stock for weapons and armour in all the Duchy of Ubersreik!</p>
    <p>From simple swords, spears, shields and plate armour, to pistols, handguns and even some sophisticated material you may not see anywhere else!</p>
    <p>Feel free to come visit us at the Artisan's Quarter to check out our best deals.</p>
</div>

